.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f51dd;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1000;
}

.SearchForm {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 5px 5px black;
}

.SearchForm__button {
  position: absolute;
  top: 4px;
  right: 6px;
  width: auto;
  font-size: 16px;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #1f51dd;
  border: 2px solid #1f51dd;
  background-color: #fff;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.SearchForm__button:hover {
  background-color: #1f51dd;
  color: #fff;
  box-shadow: 2px 2px 2px #31463c6e;
}

.SearchForm__input {
  width: 100%;
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 36px;
  padding-right: 80px;
  border: none;
  border-radius: 5px;
}

.SearchForm__input::placeholder {
  font: inherit;
  font-size: 16px;
}

.search__icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
}
